@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&family=Shadows+Into+Light&display=swap");
/* -------RESETEO---- */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* header------- */
.header {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, #f5cfdc 0%, #eed6de 100%);
  min-height: 10vh;
  flex-wrap: wrap; }
  .header a img {
    width: 200px; }
    .header a img:hover {
      scale: 1.1;
      transition: 0.5s; }
  .header .nav ul {
    display: flex;
    list-style: none;
    padding-top: 30px; }
    .header .nav ul li {
      padding: 0 15px 0 15px;
      margin-top: 15px; }
      .header .nav ul li a {
        text-decoration: none;
        color: dimgray;
        font-size: 0.8em;
        font-style: italic; }
        .header .nav ul li a:hover {
          text-decoration: none;
          font-weight: bold;
          color: white;
          scale: 1.05;
          transition: 0.5s; }

.logo-mobile {
  display: none; }

@media (max-width: 550px) {
  .header {
    padding-bottom: 5px; }
    .header .logo {
      display: none; }
    .header .nav ul {
      flex-flow: column wrap;
      padding-top: 1px; }
      .header .nav ul li {
        margin-top: 5px; }
        .header .nav ul li a {
          font-size: 0.8em;
          align-items: center;
          padding: 5px;
          margin: auto; }
          .header .nav ul li a img {
            width: 130px; }
        .header .nav ul li .logo-mobile {
          display: block;
          height: auto; } }

.main {
  min-height: 80vh; }
  .main .banner-main {
    background-image: url("../../image/q.avif");
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 50px;
    animation-duration: 3s;
    background-size: cover;
    display: flex; }
    .main .banner-main button {
      padding: 15px 15px;
      background-color: white;
      border-radius: 30px;
      min-width: 100px;
      border-style: none;
      color: gray;
      font-size: 20px;
      text-shadow: -1px 0 #3a3a3a, 0 0px #3a3a3a, 0px 0 #3a3a3a, 0 0px #3a3a3a;
      font-style: italic;
      font-family: "Inconsolata", monospace;
      align-self: center;
      margin: 15px; }
      .main .banner-main button:hover {
        cursor: pointer;
        background-color: #eed6de;
        scale: 1.05;
        transition: 0.5s; }
  .main .titulo {
    margin: 0 80px;
    padding: 40px; }
    .main .titulo .container-services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      padding: 20px; }
      .main .titulo .container-services article {
        margin: 10px; }
        .main .titulo .container-services article img {
          height: 220px;
          width: 220px;
          border-radius: 30px;
          transition: 0.5s;
          padding: 10px; }
          .main .titulo .container-services article img:hover {
            transform: scale(1.1); }
        .main .titulo .container-services article h2 {
          font-size: 20px;
          color: gray;
          margin: 10px;
          font-style: italic; }
        .main .titulo .container-services article button {
          padding: 15px 15px;
          background-color: #eed6de;
          border-radius: 30px;
          min-width: 100px;
          border-style: none;
          box-shadow: 2px 2px 2px; }
          .main .titulo .container-services article button:hover {
            transform: scale(1.1);
            transition: 0.5s; }
  .main .total-tto {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
    background-color: #f4e5eb; }
    .main .total-tto div {
      align-self: center; }
    .main .total-tto img {
      width: 40vw;
      border-radius: 20px; }
    .main .total-tto p {
      width: 400px;
      text-align: -webkit-center;
      color: gray;
      padding-top: 20px; }
  .main .spa-day {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main .spa-day img {
      width: 500px;
      height: 400px;
      transition: 0.5s;
      border-radius: 5px; }
      .main .spa-day img:hover {
        transform: scale(1.1); }
  .main .section-container {
    display: flex;
    justify-content: center; }
    .main .section-container .grid-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "imagen1 imagen2 imagen3 imagen4 imagen5" "imagen6 imagen7 imagen8 imagen9 imagen10";
      width: 1255px;
      height: 750px;
      padding: 15px;
      background-repeat: no-repeat;
      flex-direction: column; }
      .main .section-container .grid-container .imagen {
        margin: 30px;
        background-position: center;
        background-size: contain;
        transition: 0.5s;
        background-color: #f8efef;
        display: flex;
        background-repeat: no-repeat; }
        .main .section-container .grid-container .imagen:hover {
          transform: scale(1.1); }
      .main .section-container .grid-container .imagen1 {
        grid-area: imagen1;
        background-image: url("../image/producto-1.png"); }
      .main .section-container .grid-container .imagen2 {
        grid-area: imagen2;
        background-image: url("../image/producto-2.png"); }
      .main .section-container .grid-container .imagen3 {
        grid-area: imagen3;
        background-image: url("../image/producto-3.png"); }
      .main .section-container .grid-container .imagen4 {
        grid-area: imagen4;
        background-image: url("../image/producto-4.png"); }
      .main .section-container .grid-container .imagen5 {
        grid-area: imagen5;
        background-image: url("../image/producto-5.png"); }
      .main .section-container .grid-container .imagen6 {
        grid-area: imagen6;
        background-image: url("../image/producto-6.png"); }
      .main .section-container .grid-container .imagen7 {
        grid-area: imagen7;
        background-image: url("../image/producto-7.png"); }
      .main .section-container .grid-container .imagen8 {
        grid-area: imagen8;
        background-image: url("../image/producto-8.png"); }
      .main .section-container .grid-container .imagen9 {
        grid-area: imagen9;
        background-image: url("../image/producto-9.png"); }
      .main .section-container .grid-container .imagen10 {
        grid-area: imagen10;
        background-image: url("../image/producto-10.png"); }

@media (max-width: 550px) {
  .main .titulo {
    margin: 0; }
    .main .titulo h1 {
      font-size: 20px; }
  .main .banner-main {
    padding: 20px;
    height: 80px; }
    .main .banner-main button {
      padding: 2px;
      background-color: white;
      border-radius: 2px;
      width: 34px;
      border-style: none;
      color: gray;
      font-size: 9px;
      text-shadow: -1px 0 #3a3a3a, 0 0px #3a3a3a, 0px 0 #3a3a3a, 0 0px #3a3a3a;
      font-style: italic;
      font-family: "Inconsolata", monospace;
      align-self: center;
      margin: 15px; }
  .main .total-tto {
    flex-direction: column; }
    .main .total-tto img {
      width: 100%;
      height: auto; }
    .main .total-tto p {
      width: 100%; }
  .main .spa-day img {
    width: 100%;
    height: auto;
    justify-content: center; }
  .main .section-container .grid-container .imagen {
    margin: 2px; } }

.star {
  padding: 60px;
  color: gray; }

.quienes-somos img {
  width: 500px;
  border-radius: 20px; }
  .quienes-somos img:hover {
    transform: scale(1.1);
    transition: 0.3s; }

.quienes-somos p {
  color: gray;
  align-items: center; }

.vision {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 40px; }
  .vision img {
    width: 500px;
    border-radius: 20px;
    color: #635e5e; }
    .vision img:hover {
      transform: scale(1.1);
      transition: 0.5s; }
  .vision p {
    color: gray;
    text-align: center; }

.section-services {
  padding: 60px;
  text-align: -webkit-center; }
  .section-services article {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    margin: 60px;
    align-items: center;
    height: 300px;
    text-align: center;
    background-color: #f4e5eb;
    border-radius: 30px; }
    .section-services article img {
      position: relative;
      border-radius: 30px;
      width: 200px;
      height: 200px;
      transition: 0.5s;
      padding: 0 30px; }
      .section-services article img:hover {
        transform: scale(1.1); }
    .section-services article div {
      padding-right: 30px;
      width: 35vw; }
      .section-services article div p {
        text-align: justify;
        color: gray;
        margin-bottom: 20px; }
      .section-services article div button {
        padding: 10px 15px;
        border-radius: 30px;
        min-width: 100px;
        border-style: none;
        box-shadow: 2px 2px 2px; }
        .section-services article div button:hover {
          transform: scale(1.1); }

@media (max-width: 550px) {
  .section-services {
    padding: 2px; }
    .section-services article {
      height: auto;
      flex-wrap: wrap;
      margin: 10px 2px; }
      .section-services article img {
        padding: 5px;
        width: 220px;
        height: 220px; }
      .section-services article div {
        padding: 5px;
        width: 80%; }
      .section-services article p {
        width: auto;
        font-size: 0.7em; }
      .section-services article h2 {
        font-size: 0.8em; }
      .section-services article button {
        margin-bottom: 10px;
        font-size: 0.7em; }
    .section-services .titulo-servicios {
      font-size: 24px; } }

.main-trabajo {
  background-image: url(../../image/pepeganaga.webp);
  background-repeat: no-repeat;
  background-size: 100%; }
  .main-trabajo .work-with-us {
    padding: 30px 0 40px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh; }
    .main-trabajo .work-with-us form {
      width: 50vw;
      background-color: white;
      padding: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 9px;
      opacity: 0.8; }
      .main-trabajo .work-with-us form label {
        background-color: white;
        color: #888080; }
      .main-trabajo .work-with-us form input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: white;
        border-width: 0.1px; }
        .main-trabajo .work-with-us form input:focus {
          border: #eed6de 5px solid; }
      .main-trabajo .work-with-us form button {
        padding: 15px 15px;
        background-color: #eed6de;
        border-radius: 30px;
        min-width: 100px;
        border-style: none;
        box-shadow: 2px 2px 2px; }
        .main-trabajo .work-with-us form button:hover {
          transform: scale(1.1);
          transition: 0.5s; }
  .main-trabajo a {
    text-decoration: none; }

@media (max-width: 550px) {
  .work-with-us {
    margin-bottom: 40px; }
    .work-with-us form {
      width: 80vw; } }

.mapa {
  text-align: center;
  margin-bottom: 30px; }
  .mapa h1 {
    height: 60px;
    color: #888080;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -1px 0 #3a3a3a, 0 0px #3a3a3a, 0px 0 #3a3a3a, 0 0px #3a3a3a;
    margin-top: 20px; }
  .mapa p {
    color: #888080;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px; }
  .mapa iframe {
    width: 60vw; }

.titulo-contacto {
  margin-top: 60px;
  color: #888080;
  font-weight: bold;
  font-size: 30px;
  text-shadow: -1px 0 #3a3a3a, 0 0px #3a3a3a, 0px 0 #3a3a3a, 0 0px #3a3a3a;
  text-align: center; }

.contacto {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .contacto form {
    width: 50vw;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 9px; }
    .contacto form label {
      background-color: white;
      color: #888080; }
    .contacto form input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: white;
      border-width: 0.1px; }
      .contacto form input:focus {
        border: #eed6de 5px solid; }
    .contacto form button {
      padding: 15px 15px;
      background-color: #eed6de;
      border-radius: 30px;
      min-width: 100px;
      border-style: none;
      box-shadow: 2px 2px 2px; }
      .contacto form button:hover {
        transform: scale(1.1);
        transition: 0.5s; }

@media (max-width: 550px) {
  .contacto {
    justify-content: center;
    width: 100%;
    height: auto; }
    .contacto form {
      width: 80vw; }
  .titulo-contacto {
    font-size: 20px; }
  .mapa h1 {
    font-size: 20px; }
  .mapa p {
    font-size: 20px; }
  .mapa iframe {
    width: 90%;
    height: auto; } }

/* Footer------------- */
.footer {
  display: flex;
  background-image: linear-gradient(to right, #f5cfdc 0%, #eed6de 100%);
  min-height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: gray;
  padding: 20px; }
  .footer p {
    font-style: italic;
    font-size: large;
    text-align: -webkit-center; }
  .footer .red-social {
    display: flex;
    height: 70px;
    transition: 5s; }
    .footer .red-social a {
      text-align: center;
      width: 80px; }
      .footer .red-social a img {
        width: 30px;
        padding-top: 15px; }
      .footer .red-social a:hover {
        transform: scale(1.1); }

.red-social-qs a img {
  height: 45px;
  padding-top: 15px; }

@media (max-width: 550px) {
  .footer p {
    font-size: 0.8em; } }

h1 {
  text-align: center;
  color: dimgray;
  text-shadow: 0.5px 0 #3a3a3a, 0 0px #3a3a3a, 0px 0 #3a3a3a, 0 0px #3a3a3a;
  margin: 30px 0;
  font-weight: bold;
  font-size: 2em;
  font-style: italic; }

h2 {
  text-align: center;
  color: dimgray;
  text-shadow: 0.5px 0 #3a3a3a, 0 0px #3a3a3a, 0px 0 #3a3a3a, 0 0px #3a3a3a;
  margin: 30px 0;
  font-weight: bold;
  font-size: 1em; }

h3 {
  text-align: center;
  color: dimgray;
  text-shadow: 0.5px 0 #3a3a3a, 0 0px #3a3a3a, 0px 0 #3a3a3a, 0 0px #3a3a3a;
  margin: 30px 0;
  margin: 30px;
  font-weight: bold;
  font-size: 1.9em;
  font-style: italic; }

h4 {
  text-align: center;
  color: dimgray;
  text-shadow: 0.5px 0 #3a3a3a, 0 0px #3a3a3a, 0px 0 #3a3a3a, 0 0px #3a3a3a;
  margin: 30px 0;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 80px; }

@media (max-width: 550px) {
  h1 {
    font-size: 1.2em; } }
