@import "./resourses/vars";
@import "resourses/reset";
@import "sections/header";
@import "sections/main-index";
@import "sections/main-quienes-somos";
@import "sections/main-servicios";
@import "sections/main-trabajo";
@import "sections/main-contacto";
@import "sections/footer";



// Aplicacion mixin
@mixin alma-font {
    text-align: center;
    color: dimgray;
    text-shadow: 0.5px 0 rgb(58, 58, 58), 0 0px rgb(58, 58, 58), 0px 0 rgb(58, 58, 58), 0 -0px rgb(58, 58, 58);
    margin: 30px 0;
}

h1 {
    @include alma-font;
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
}


h2 {
    @include alma-font;
    font-weight: bold;
    font-size: 1em;
}

h3 {
    @include alma-font;
    margin: 30px;
    font-weight: bold;
    font-size: 1.9em;
    font-style: italic;
}

h4 {
    @include alma-font;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 80px;
}

@media (max-width:550px) {

    h1 {
        font-size: 1.2em;
    }
}